*{
	box-sizing: border-box;
}

body{

	text-align: center;


	
}

h1{
	font-size: 36px;
}

body>div {
		position: absolute;
		right: 8.33%;
		text-align: justify;

}

p{
	padding: 10px;
}


/*For Desktop*/

@media (min-width: 992px) {
#chicken {
	font-size: 22px;
	background: gray;
	width: 30%;
	float: right;	
	
	border: solid thin;


}

#fish {
	font-size: 22px;
	background: gray;
	width: 30%;
	float: right;
	margin-left: 20px;		
	border: solid thin;
}

#eggs {
	font-size: 22px;
	background: gray;
	width: 30%;	
	border: solid thin;
	float: right;
	margin-right: 20px;
}

#fish>div {
	border: solid thin;
	text-align: right;
	float: right;
	padding-right: 50px;
	width: 150px;
	background: turquoise;
}

#chicken>div {
	text-align: right;
	border: solid thin;
	padding-right: 40px;
	float: right;
	width: 150px;
	background: maroon;
	color: white;
	border-color: black;
}

#eggs>div {
	text-align: right;
	border: solid thin;
	width: 150px;
	background: coral;
	padding-right: 50px;
	float: right;
}
}

/*For Tablets*/

@media (min-width:768px) and (max-width: 991px)
{

body>div {
	
}

#chicken {
	font-size: 22px;
	background: gray;
	width: 43%;
	float: right;
	position: absolute;
	right: 0%;
		
	border: solid thin;
}

#fish {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;	
	border: solid thin;
	position: relative;
	top: 430px;

}

#eggs {
	font-size: 22px;
	background: gray;
	width: 43%;	
	float: left;
	border: solid thin;
	position: absolute;
	left: 10%;
	
}

#fish>div {
	border: solid thin;
	text-align: right;
	float: right;
	padding-right: 50px;
	width: 150px;
	background: turquoise;
}

#chicken>div {
	text-align: right;
	border: solid thin;
	padding-right: 40px;
	float: right;
	width: 150px;
	background: maroon;
	color: white;
	border-color: black;
}

#eggs>div {
	text-align: right;
	border: solid thin;
	width: 150px;
	background: coral;
	padding-right: 50px;
	float: right;
}
}

/*For Mobiles*/

@media (max-width:767px)
{
#chicken {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;
	border: solid thin;
	position: absolute;
	top: 100%;
	left: 8.33%;
	margin-top: 20px;


}

#fish {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;
	border: solid thin;
	position: absolute;
	top: 200%;
	left: 8.33%;
	margin-top: 40px;
}

#eggs {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: left;
	border: solid thin;
	position: relative;
	left: 8.33%;
	
		
}

#fish>div {
	border: solid thin;
	text-align: right;
	float: right;
	padding-right: 50px;
	width: 150px;
	background: turquoise;
}

#chicken>div {
	text-align: right;
	border: solid thin;
	padding-right: 40px;
	float: right;
	width: 150px;
	background: maroon;
	color: white;
	border-color: black;
}

#eggs>div {
	text-align: right;
	border: solid thin;
	width: 150px;
	background: coral;
	padding-right: 50px;
	float: right;
}
}