*{
	box-sizing: border-box;
}

body{
	position: relative;
	top: 100px;
	text-align: center;
}

h1{
	font-size: 36px;
}

body>div {
	position: relative;
	top: 100px;
	width: 90%;
}



/*For Desktop*/

@media (min-width: 992px) {
#chicken {
	font-size: 22px;
	background: gray;
	width: 30%;
	float: right;
	margin: 15px;
	border: solid thin;


}

#fish {
	font-size: 22px;
	background: gray;
	width: 30%;
	float: right;
	margin: 15px;
	border: solid thin;
}

#eggs {
	font-size: 22px;
	background: gray;
	width: 30%;
	margin: 15px;
	float: right;
	border: solid thin;	
}

#fish>div {
	border: solid thin;
	text-align: right;
	float: right;
	padding-right: 50px;
	width: 150px;
	background: turquoise;
}

#chicken>div {
	text-align: right;
	border: solid thin;
	padding-right: 40px;
	float: right;
	width: 150px;
	background: maroon;
	color: white;
	border-color: black;
}

#eggs>div {
	text-align: right;
	border: solid thin;
	width: 150px;
	background: coral;
	padding-right: 50px;
	float: right;
}
}

/*For Tablets*/

@media (min-width:768px) and (max-width: 991px)
{
#chicken {
	font-size: 22px;
	background: gray;
	width: 43%;
	float: right;
	position: absolute;
	right: 0%;
	margin: 0px 0px 0px 5px;	
	border: solid thin;
}

#fish {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;	
	border: solid thin;
	clear: both;
	position: relative;
	top: 385px;	
}

#eggs {
	font-size: 22px;
	background: gray;
	width: 43%;	
	float: left;
	border: solid thin;
	position: absolute;
	left: 10%;
	margin: 0px 5px 0px 0px;
}

#fish>div {
	border: solid thin;
	text-align: right;
	float: right;
	padding-right: 50px;
	width: 150px;
	background: turquoise;
}

#chicken>div {
	text-align: right;
	border: solid thin;
	padding-right: 40px;
	float: right;
	width: 150px;
	background: maroon;
	color: white;
	border-color: black;
}

#eggs>div {
	text-align: right;
	border: solid thin;
	width: 150px;
	background: coral;
	padding-right: 50px;
	float: right;
}
}

/*For Mobiles*/

@media (max-width:767px)
{
#chicken {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;
	border: solid thin;


}

#fish {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;
	border: solid thin;
}

#eggs {
	font-size: 22px;
	background: gray;
	width: 90%;
	float: right;
	border: solid thin;	
}

#fish>div {
	border: solid thin;
	text-align: right;
	float: right;
	padding-right: 50px;
	width: 150px;
	background: turquoise;
}

#chicken>div {
	text-align: right;
	border: solid thin;
	padding-right: 40px;
	float: right;
	width: 150px;
	background: maroon;
	color: white;
	border-color: black;
}

#eggs>div {
	text-align: right;
	border: solid thin;
	width: 150px;
	background: coral;
	padding-right: 50px;
	float: right;
}
}